<div class="row" style="margin-top: 100px">
  <div class="col-md-offset-4 col-md-4">

    <div role="form">
      <div class="form-group">
        <input type="email" data-bind="textInput: email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" data-bind="textInput: password, event: {keypress: loginByKey}" class="form-control" placeholder="Password">
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" data-bind="click: login">Login to Ahchoo</button>
        <button class="btn btn-primary btn-block" data-bind="click: signUp">Sign Up</button>
      </div>
    </div>

  </div>
</div>
