extends index

block content
  if item
    p
      label Item Name:
      span #{item.title}
    p
      label Item Price:
      span #{item.price}

    input#item_id(type="hidden", value="#{item._id}")
  else
    p Invalid Item.
