extends index

block script
  script(src="/socket.io/socket.io.js")
  script(src="/js/demo-item.js")

block content
  if item
    p
      label Item Name:
      span #{item.title}

    input#item_id(type="hidden", value="#{item._id}")
  else
    p Invalid Item.
