html
    head
        title MaiZhiying Demo
        script(src="/js/jquery-1.11.1.min.js")
        block script
    body
        p Hello World
        if username
            p Your are #{username}
        else
            form(action="/auth/login", method="post")
                label Enter your name:
                input(type="text", name="username", value="shit")
                input(type="submit", value="OK")
            
        p Demo List:
        ul
            li
                a(href="/demo-socket/") Socket Demo
        block content