html
  head
    title MaiZhiying Demo
    script(src="/demo/js/jquery-1.11.1.min.js")
    block script
  body
    p Hello World
    if username
      p Your are #{username}
    else
      form(action="/demo/auth/login", method="post")
        label Enter your name:
        input(type="text", name="username", value="shit")
        input(type="submit", value="OK")
            
    p Demo List:
    ul
      li
        a(href="/demo/demo-items/") Items Demo
      li
        a(href="/demo/demo-games/") Games Demo

    block content
