doctype hdtl
html(lang="en")
  body
    hello room!
    form(id='form')
      label please Input:
      input(type="text", name="room")
      input(type="submit")

    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(type='text/javascript').
      var socket 

      $(function () {
        //establishConnection(id)
      })

      var playerReady = function (playerId) {
        socket.emit('player-ready', {playerId: playerId})
      }

      var playerUnReady = function (playerId) {
        socket.emit('player-un-ready', {playerId: playerId})
      }

      var playerClick = function (playerId) {
        socket.emit('player-clicked', {playerId: playerId})
      }

      var game1 = "540b39c18b1690e82e06afe3"
      var game2 = "540b5a36ae3edc2d3502ff92"

      var establishConnection = function (gameId, playerId) {
        socket = io({query:'gameId=' + gameId + '&playerId=' + playerId})

        // event to listen
        // game start
        socket.on('game:start:' + gameId, function () {
          console.log(gameId)
        })

        // other player joined
        socket.on('player-joined', function (joinedPlayerId) {
          console.log('player ' + joinedPlayerId + ' JOINED that room')
        })

        // other player lefted
        socket.on('player-leaved', function (leavedPlayerId) {
          console.log('player ' + leavedPlayerId + ' LEAVED that room')
        })

        // other player is ready
        socket.on('player-ready', function (readyPlayerId) {
          console.log('player ' + readyPlayerId + ' READY for play')
        })

        // someone change status from ready to un-ready
        socket.on('player-un-ready', function (unReadyPlayerId) {
          console.log('player ' + unReadyPlayerId + ' NOT READY for play')
        })

        // one player clicked
        socket.on('player-clicked', function (clickedPlayerId) {
          console.log('player ' + clickedPlayerId + ' CLICKED')
        })
      }

      var closeConnection = function () {
        socket.disconnect()
      }
