extends layout

block script
  script(src="/js/routes/game.js")
  script(src="/js/routes/manage/game.js")

block content
  div#game-id(data=game.id)
  div.page-header
    h1 Game #{ game.item.title }: 
  div.row
    p Countdown Time: #{ game.countdown } second
  div.row
    button.btn.btn-primary(data-bind='click: start') Start!
  div.row#qrcode
  div.row
    div.col-sm-3
      ul.list-group(data-bind="foreach: users")
        li.list-group-item(data-bind="text: name")

    div.col-sm-9
      p(data-bind="if: owner") The owner is
        span(data-bind="text: owner")

      div.row
        div.col-sm-12
          p(data-bind="text: timeRemaining")
          p Times remaining
            span(data-bind="text: balance")
