extends layout

block content
  div.page-header
    h1 Games
  div.row
    div.btn-group
      button.btn.btn-default
        a(href='/manage/game/new')
          span.glyphicon.glyphicon-plus
          | Add
  div.row
    table.table
      thead
        th Game Information
      tbody
        each game in games
          tr
            td: a(href="/manage/games/#{game.id}") #{game.item.title}, #{game.capacity}, #{game.countdown}
