extends layout

block script
  script(src="/js/routes/manage/game.js")

block content
  div#game-id(data=game.id)
  div.page-header
    h1 Game #{ game.item.title }: 

  div.row
    div.col-sm-3
      button.btn.btn-primary(data-bind='click: startGame') Start!
    div.col-sm-9
      div.row
        p Countdown Time: #{ game.countdown } second
      div.row
        p(data-bind="if: owner") The owner is
          span(data-bind="text: owner")
      div.row
        p(data-bind="text: timeRemaining")
      div.row
        p Total click remaining in this game: &nbsp;
          span(data-bind="text: totalBalance")

  div.row
    hr
    h3 Admin In Game
    div.col-sm-3
      ul.list-group(data-bind='foreach: admins')
        li.list-group-item(data-bind="text: name")

  div.row
    hr
    h3 Player In Game
    div.col-sm-3
      ul.list-group(data-bind="foreach: users")
        li.list-group-item(data-bind="text: name")
