html
  head
    title Ahchoo Management - #{title}
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
  body
    nav.navbar.navbar-inverse
      div.container
        div.navbar-header
          a.navbar-brand Ahchoo Management
        div#navbar.navbar-collapse
          ul.nav.navbar-nav
            li: a(href="/manage") Home
            li: a(href="/manage/users") Users
            li: a(href="/manage/items") Items
            li: a(href="/manage/roles") Roles
            li: a(href="/manage/privileges") Privileges
            li: a(href="/manage/games") Game
            //- li.right: a(href="/manage/login") Login

    div.nav-bar.pull-right
      div.navbar-header
      div.navbar-collapse
        a(href="/manage/login") Login

    div.container
      block content

    block script
