extends layout

block content
  div.page-header
    h1 Users
  div.row
    div.btn-group
      a(href="/manage/users/new"): button.btn.btn-default
        span.glyphicon.glyphicon-plus
        | Add
  div.row
    table.table
      thead
        th Email
        th Name
      tbody
        each user in users
          tr
            td: a(href='/manage/users/#{user._id}') #{user.email}
            td #{user.name}
