html
  head
    title Ahchoo
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
  body
    div.container-fluid
      div.row
        div.col-sm-12
          block content

    block script
