html
  head
    meta(name="viewport", content="initial-scale=1.0, width=device-width")

    title Ahchoo
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
  body
    div.container-fluid
      div.row
        div.col-sm-12
          block content

    block script
