extends _layout_with_banner

block content
  div.row(style="margin-top: 25px")
    each game in games
      div.col-md-3.col-sm-4
        div.thumbnail.item-panel
          div.caption
            h4.item-title= game.item.title

            if game.item.image
              img.item-image(src="game.item.image")
            else
              img.item-image(src="/img/coming-soon.jpg")

            p= game.item.description
            p
              a.btn.btn-primary.btn-block(href="/games/" + game.id, role="button") Enter
