extends _layout

block script
  script(src="js/routes/login.js")

block content
  div.row(style="margin-top: 100px")
    div.col-sm-offset-3.col-sm-6

      div(role="form")
        .form-group.input-group
          span.input-group-addon
            i.fa.fa-envelope
          input.form-control(type="email", data-bind="textInput: email", placeholder="Email")

        .form-group.input-group
          span.input-group-addon
            i.fa.fa-key
          input.form-control(type="password", data-bind="textInput: password, event: {keypress: loginByKey}", placeholder="Password")

        div.form-group
          button.btn.btn-primary.btn-block(data-bind="click: login") Login to Ahchoo

        a.pull-right(href="/signup") Have no account? Sign up here!
