extends _layout

block content

  div.row(style="margin-top: 100px")
    div.col-sm-offset-3.col-sm-6
      div(role="form")

        div.form-group
          input.form-control(type="email", data-bind="textInput: email", placeholder="Email")
        div.form-group
          input.form-control(type="text", data-bind="textInput: name", placeholder="The name that will be displayed")
        div.form-group
          input.form-control(type="password", data-bind="textInput: password", placeholder="Password")

        div.form-group
          button.btn.btn-primary.btn-block(data-bind="click: signUp") Sign Up

block script
  script(src="js/routes/signup.js")
