extends _layout

block content

  .row(style="margin-top: 100px")
    .col-sm-offset-3.col-sm-6
      div(role="form")

        .form-group.input-group
          span.input-group-addon
            i.fa.fa-envelope
          input.form-control(type="email", data-bind="textInput: email", placeholder="Email")

        .form-group.input-group
          span.input-group-addon
            i.fa.fa-user
          input.form-control(type="text", data-bind="textInput: name", placeholder="The name that will be displayed")
        .form-group.input-group
          span.input-group-addon
            i.fa.fa-key
          input.form-control(type="password", data-bind="textInput: password", placeholder="Password")

        .form-group
          button.btn.btn-primary.btn-block(data-bind="click: signUp") Sign Up

block script
  script(src="js/routes/signup.js")
