if items && items.length
  table.table
    thead
      th
      th Title
      th Price
    tbody
      each item in items
        tr
          td.radio
            label
              input(name="item", type="radio", value="#{item._id}", checked=item.selected)
          td #{item.title}
          td #{item.price}
